    <link href="/stylesheets/nav-s.css" type="text/css" rel="stylesheet">
    <ul id="slide-out" class="side-nav fixed">
      <li>
        <div class="userView">
          <div class="background">
            <img src="http://materializecss.com/images/office.jpg">
          </div>
          <a href="#!user"><img class="circle" src="<%= student.photo %>"></a>
          <a href="#!name">
            <span class="white-text name">
              <%= student.name %>
            </span>
          </a>
          <a href="#!email">
            <span class="white-text email">
              <%= student.email %>
            </span>
          </a>
          <a href="#!miles">
            <span class="white-text miles">
              Miles: <%= student.miles %>
            </span>
          </a>
          <a href="#!rating">
            <span class="white-text rating">
              Rating: <%= rating %>
            </span>
          </a>
        </div>
      </li>
      <li><a href="/register-parent">Register Parent</a></li>
      <li><a href="/logout">Log out</a></li>
    </ul>
