<html>
  <% include ../partials/head %>
  <body>
    <link href="/stylesheets/nav-s.css" type="text/css" rel="stylesheet">
    <header>
      <nav class="top-nav">
        <div class="container">
          <div class="nav-wrapper">
            <a href="#" data-activates="slide-out" class="button-collapse waves-effect waves-light hide-on-large-only">
              <i class="material-icons" style="line-height: 110px">menu</i>
            </a>
            <a class="page-title">Welcome to Scuber</a>
          </div>
        </div>
      </nav>
    </header>  
    <% include ../partials/nav-s %>
    
    <div class="row">
      
      <link href="/stylesheets/dashboard-s.css" type="text/css" rel="stylesheet">
  
      <div class="col s12 main">
        <div class="container">
          <div class="card large">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="/images/getRide.png" style="top: -100px">
            </div>
            <div class="card-content">
              <span class="activator card-title activator grey-text text-darken-4">Call A Car</span>
              <p class="activator">Get a ride to either your home or your school.</p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Confirming location</span>
              <div class="progress">
                <div class="indeterminate"></div>
              </div>
              <p>Please wait.</p>
              <p>Your location is being determined to identify the optimal ride parameters.</p>
              <p>You will be redirected to the ride confirmation page shortly.</p>
              
              <!--
              <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-red-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
              -->
            </div>
          </div>
        
        <form id="findMeForm" method="POST" action="/confirmRide">
          <input type="hidden" id="currLong" name="currLong"></input>
          <input type="hidden" id="currLat" name="currLat"></input>
        </form>
        
          <h4>Recent Rides</h4>
          <table class="striped responsive-table">
            <thead>
              <tr>
                  <th>Date</th>
                  <th>Destination</th>
                  <th>Parent Name</th>
                  <th>Parent Rating</th>
                  <th>Student Rating</th>
              </tr>
            </thead>
    
            <tbody>
              <% for (var x = 0; x < recent.length; x++) {%>
                <tr>
                  <td><%= recent[x].date %></td>
                  <td><%= recent[x].destination %></td>
                  <td><%= recent[x].parentName %></td>
                  <td><%= recent[x].parentRating %></td>
                  <td><%= recent[x].studentRating %></td>
                </tr>
              <% }%>
            </tbody>
          </table>
        </div>
        
      </div>
      
    </div>

    <% include ../partials/footer %>  
  </body>
</html>  
  
