<html>
  <% include ../partials/head %>
  <body class="container">
    <!-- 1st Student Details -->
    <div>
      <%=studentTripRouteArray[0].student.name%>
      <%=studentTripRouteArray[0].tripRoute.stopOrder%>
      <a id="loc" target=blank>Click me</a>
      <a class="waves-effect waves-light btn" href="/rateStudent/<%=studentTripRouteArray[0].tripRoute._id%>/<%=studentTripRouteArray[0].tripRoute.destination%>">Rate</a>
   </div>
    
    <!-- Coming Soon Student Details -->
    <% for (var i = 1; i < studentTripRouteArray.length; i++) {%>
      <%=studentTripRouteArray[i].student.name%>
      <%=studentTripRouteArray[i].tripRoute.stopOrder%>
      <a class="waves-effect waves-light btn" href="/rateStudent/<%=studentTripRouteArray[i].tripRoute._id%>/<%=studentTripRouteArray[i].tripRoute.destination%>">Rate</a>
    <% } %>
    <% include ../partials/footer %>
    <script>
      var parentId = "<%=parentId%>";
      var studentTripRouteArray = <%-JSON.stringify(studentTripRouteArray, null, 2)%>;
      navigator.geolocation.getCurrentPosition(function(position) {
        var address = "http://maps.google.com/maps/dir/" + position.coords.latitude + "," + position.coords.longitude;
        for(var i = studentTripRouteArray.length -1 ; i > -1 ; i--){
          if(i == 0) {
            if(studentTripRouteArray[i].tripRoute.destination == "School") {
              address += "/" +  studentTripRouteArray[i].student.homeLat + "," + studentTripRouteArray[i].student.homeLong; 
            } else {
              address += "/" +  studentTripRouteArray[i].student.schoolLat + "," + studentTripRouteArray[i].student.schoolLong; 
            }
            address += "/@" + studentTripRouteArray[i].tripRoute.latitude + "," + studentTripRouteArray[i].tripRoute.longitude; 
          } else {
            if(studentTripRouteArray[i].tripRoute.destination == "School") {
              address += "/" +  studentTripRouteArray[i].student.homeLat + "," + studentTripRouteArray[i].student.homeLong; 
            } else {
              address += "/" +  studentTripRouteArray[i].student.schoolLat + "," + studentTripRouteArray[i].student.schoolLong; 
            }
            address = address + "/" + studentTripRouteArray[i].tripRoute.latitude + "," + studentTripRouteArray[i].tripRoute.longitude; 
          } 
        }
        $("#loc").attr('href', address) ;
      });
    </script>
    <script src="/javascripts/checkStudentFound.js"></script>
  </body>
</html>